.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 350px;
    margin: 50px auto;
}

.register-container h2 {
    margin-bottom: 20px;
}

.register-container .form-group {
    margin-bottom: 15px;
    width: 100%;
}

.register-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.register-container input[type='text'],
.register-container input[type='email'],
.register-container input[type='password'] {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.register-container .register-button {
    padding: 10px 15px;
    background-color: #00a000; /* Green color */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.register-container .register-button:hover {
    background-color: #007000;
}

.register-container p {
    margin-top: 15px;
}

.register-container a {
    color: #007bff;
    text-decoration: none;
}

.register-container a:hover {
    text-decoration: underline;
}